export JULIA_LOAD_PATH=":$PWD"
export JULIA_PROJECT="$PWD/PingPong"
export JULIA_CONDAPKG_ENV="$(realpath $PWD/.conda)"
# export JULIA_CONDAPKG_OFFINE=yes
# export JULIA_CONDAPKG_VERBOSITY=-1
# export JULIA_NOPRECOMP=PingPong,Engine,Strategies,Executors,Watchers,Plotting,Stats,SimMode,LiveMode,PaperMode
# export JULIA_NOPRECOMP=PingPong,Engine,Executors,Watchers,Plotting,LiveMode,PaperMode,SimMode
export JULIA_NOPRECOMP=PingPong,Engine,Plotting,LiveMode,PaperMode,Watchers
# export JULIA_NOPRECOMP=PingPong,Watchers,Plotting
# export JULIA_NOPRECOMP=Watchers,Plotting
# export JULIA_NOPRECOMP=PingPong
# export JULIA_NOPRECOMP=all
