[submodule "vendor/Temporal"]
	path = vendor/Temporal
	url = https://github.com/untoreh/Temporal.jl
[submodule "vendor/CondaPkg"]
	path = vendor/CondaPkg
	url = https://github.com/cjdoris/CondaPkg.jl
	branch = pull/53/head
