/user/*
# /*/**/CondaPkg.toml
.startup.jl
/**/*.log
/**/.CondaPkg/*
/**/.JuliaFormatter.toml
/**/.conda/*
/**/.projectile
/**/__pycache__/*
/**/deps/precompiles/*
/Data/vendor/*
/docs/build/
/render.html
/src/__pycache__/
/user/strategies/*
/vendor/*
PingPong.so
test/test.jlo
PingPong/test/
PingPongInteractive/test/
user/Load/test/
.vscode/

!/**/deps/precompiles/*_PingPong*.jl
!/Data/vendor/.gitkeep
!/Data/vendor/zarr/.gitkeep
!/user/strategies/README.md
!/vendor/.gitkeep
!/vendor/Temporal/
!PingPongDev/
!PingPongInteractive/
!user/.envrc
!user/Load
!user/pingpong.toml
!user/strategies
!user/strategies/BBWithOpt
!user/strategies/BareStrat.jl
!user/strategies/BollingerBands
!user/strategies/Example.jl
!user/strategies/ExampleMargin
!user/strategies/ExampleMargin.jl
!user/strategies/MarginStrat
!user/strategies/RandomStratIso.jl
!user/strategies/Template.jl
!user/strategies/TwoIntervals
!user/strategies/TwoParameters
!user/strategies/SimpleStrategy
!user/strategies/common.jl
