/user/*
/user/strategies/*
!user/config.toml
!user/strategies
!user/strategies/Example.jl
/src/__pycache__/
/render.html
/**/__pycache__/*
/**/.CondaPkg/*
/**/.conda/*
/**/deps/precompiles/*
!/**/deps/precompiles/*_PingPong*.jl
/**/*.log
# /*/**/CondaPkg.toml
/**/.JuliaFormatter.toml
/docs/build/
/Data/vendor/*
!/Data/vendor/.gitkeep
!/Data/vendor/zarr/
/vendor/*
!/vendor/.gitkeep
!/vendor/Temporal/
test/test.jl
