/cfg/*
/cfg/strategies/*
!cfg/backtest.toml
!cfg/strategies
!cfg/strategies/Example.jl
/src/__pycache__/
/render.html
/**/__pycache__/*
/**/.CondaPkg/*
/**/deps/precompiles/*
!/**/deps/precompiles/*_PingPong*.jl
/**/*.log
# /*/**/CondaPkg.toml
/**/.JuliaFormatter.toml
/docs/build/
/Data/vendor/*
!/Data/vendor/.gitkeep
!/Data/vendor/zarr/
/vendor/*
!/vendor/.gitkeep
!/vendor/Temporal/
